{% extends 'base.html' %}
    {% block content %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ vdoMovie.image.url }}" class="img-fluid roundd-start" alt="">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ vdoMovie.title }}</h5>
                <p class="card-text">{{ vdoMovie.description }}</p>
                <p class="card-text">
                    {% if vdoMovie.url %}
                    <a href="{{ vdoMovie.url }}" class="btn btn-primary">Movie Link</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div calss="row g-0">
            <div>
                <div class="card-body">
                    <h5 class="card-title">Update Review</h5>
                    {% if error %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    <p class="card-text">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">
                                Update Review
                            </button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
